.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 1em;
    background-color: black;
}

.navList {
    display: flex;
    /* gap: 20px; */
    list-style-type: none;
    align-items: center;
}

.navList li {
    text-transform: uppercase;
    font-weight: lighter;
}

.navList a{
    margin-right: 20px;
    color: aliceblue;
    text-decoration: none;
}

.navList a:hover{
    color: rgb(228, 225, 46);
}
